* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563e2;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --grey: #808080;
  --dark-gray: #555555;
}

body {
  height: 100vh;
  text-align: center;
  background-color: var(--background-color);
  padding: 1rem;
}

.header_content {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-color);
  gap: 0.625rem;
}

.logo-icon {
  height: 5.875rem;
  width: 1.938rem;
}

.logo-text {
  font-size: 2rem;
}

.nav {
  display: none;
  gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.nav-link {
  color: #718096;
  font-size: 1.125rem;
  font-weight: 600;
  transform: color 0.1s;
}

.nav-link:hover {
  color: var(--link-color);
}

.contact-button {
  display: none;
  border: none;
  border-radius: 0.375rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  transform: all 0.1s;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .contact-button {
    display: block;
  }
}
.contact-button:hover {
  background-color: #5254f8;
}

.menu-button {
  display: none;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--background-color);
  padding: 0.5rem 0.9rem;
}

@media screen and (max-width: 768px) {
  .menu-button {
    display: block;
  }
}

.menu-icon {
  height: 1.5rem;
  width: 1.5rem;
}
